<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="card__actions">
      <h1>Some Error Occured In The Server!</h1>
      <p>We are working hard to fix it.</p>
    </div>
<%- include('includes/end.ejs') %>